* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  :root {
    --primary-color: #ff0000;
    --bg: #121d2c;
    --white: #fff;
    font-size: 62.5%;
  }
  
  body {
    font-size: 1.6rem;
    display: flex;
    gap: 7rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--bg);
  }
  
  h1 {
    color: var(--white);
  }
  
  .a{
    color: #080808;
    font-weight: bold;
    padding: 10%;
  }
  .b{
    color: #080808;
    font-weight: bold;
    padding: 10%;
    margin-top: -125px;
  }
  .c{
    color: #080808;
    font-weight: bold;
    padding: 10%;
    margin-top: -125px;
  }

  .heart {
    width: 10rem;
    height: 10rem;
    background: var(--primary-color);
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -1rem 1rem 9rem var(--primary-color);
    animation: heart .8s linear infinite;
  }
  
  .heart::after {
    content: '';
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: var(--primary-color);
    right: -50%;
    border-radius: 50%;
  
  }
  
  .heart::before {
    content: '';
    position: absolute;
    width: 10rem;
    height: 10rem;
    background: var(--primary-color);
    top: -50%;
    border-radius: 50%;
  }
  
  /* animação */
  
  @keyframes heart {
    0%{
      transform: rotate(-45deg) scale(1.07);
    }
    80%{
      transform: rotate(-45deg) scale(1.0);
    }
    100%{
      transform: rotate(-45deg) scale(0.8);
    }
  }